* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: rgb(136, 127, 127);
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  margin: 50px;
  letter-spacing: 2px;
  font-size: 3rem;
  color: #944ba9;
}

a {
  text-decoration: none;
}

.btn {
  border: 2px, #bc03ef;
}
